* {
	box-sizing: border-box;
}

body {
	background: rgb(227, 235, 206);
    height: 100vh;
}

img {
    height: 40px;
    float: left;
}

.container{
    background: transparent;
    display: flex;
    height: 86%;
    width: 90%;
    margin-top: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
    padding: 0;
}

.people-list{
    width: 30%;
    background-color: aliceblue;
    border-right: solid #0cb2db 2px;
}

.people-list .people-list-actions{
    display: flex;
}

.people-list #users-list {
    height: 83%;
    overflow: scroll;
}

.people-list #groups-list {
    height: 83%;
    overflow: scroll;
    display: none;
}

.people-list .list-type-selector {
    display: flex;
    justify-content: space-around;
}

.people-list li{
    list-style: none;
    padding: 5px;
}

.people-list li:hover {
    background: #51a1d6;
    cursor: pointer;
  }
  
  .people-list li.active {
    background: #51a1d6;
  }

.chat-card {
    width: 70%;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.chat-card .chat-card-title {
    background-color: aliceblue;
}

#chat-msgs-box li{
    list-style: none;
    padding: 5px;
    display: flex;
    flex-direction: row;
    background: rgba(206, 243, 250, 0.555);
    margin: 2px;
}

#chat-msgs-box li .rmvBtn{
    margin-left: auto;
    font-size: small;
}

.chat-card .chat-card-title .addBtn{
    margin-right: 5px;
    margin-left: auto;
}

.chat-card-msgs {
    height: 81.1%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.chat-card-msgs .my-msg {
    background-color: rgb(240, 230, 230);
    margin: 1px;
    margin-left: auto;
    border-radius: 10px 0 0 10px;
    padding: 3px;
}

.chat-card-msgs .others-msg {
    background-color: rgb(211, 247, 244);
    margin: 1px;
    margin-right: auto;
    border-radius: 0 10px 10px 0;
    padding: 3px;
}

.chat-card-msgs .chat-joined-user {
    background-color: rgb(211, 245, 167);
    margin: 1px auto;
    border-radius: 10px;
    padding: 2px;
}

.chat-card .msg-form {
    background-color: aliceblue;
}

.online {
    color: #86c541;
  }
